### Build ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/wrapper/maven-wrapper.jar

### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Application ###
*.log

### Secrets ###
.env

### Claude Code ###
.claude/
